<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Main Tests" verbose="2">

    <test name="Main Tests" verbose="2">
        <classes>
            <class name="ToolsQA.App">
                <methods>
                    <include name="validateMainPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

