<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Main Tests" verbose="2">

    <test name="Main Tests" verbose="2">
        <parameter name="browser" value="Firefox"/>
        <parameter name="url" value="http://www.zaosoft.com/"/>


        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testsuite.HomePageTest"/>
        </classes>
    </test>
</suite>

